:root {
    --body-color: #131519;
    --container-color: #1C1E22;
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--body-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3 {
    border: none;
    margin: 0;
    padding: 0;
}

/* Reusable Classe */
.score-text {
    width: fit-content;
    color: #000;
    background-color: #ffff00;
    padding: 0.35rem;
    border-radius: 0.3rem;
}
.btn {
    display: inline-flex;
    border: none;
    cursor: pointer;
    background: var(--body-color);
}
.ctrl-icon {
    width: 40px;
    height: auto;
}

/* Header block Styles */
.header-block {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px;
}

/* Root Block Styles */
.root-block {
    max-width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.root-block-div {
    width: 20px;
    height: 20px;
    background-color: var(--container-color);
    border: 1px solid var(--body-color);
}